In [8]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/jnesnky/BANA_3363/2020-02-Fall BANA 3363/Data/Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
Create a new column for Millennials, defined as customers age 30 or less.

In [6]:
df["Millennial"] = [1 if x <= 30 else 0 for x in df["Age"]]

In [39]:
df["count"] = 1

In [54]:
df_pivot = pd.pivot_table(df, index=['Millennial'], values = ["count"], columns = "Exited", aggfunc = np.sum, margins=True).values

In [59]:
df_pivot[2,2]

10000

In [71]:
con = np.zeros((2,2))

In [69]:
con[1,1] = 100

In [79]:
q = [[(df_pivot[y,x]*df_pivot[y,x])/df_pivot[2,2] for x in range(0,2)] for y in range[0,2]]

TypeError: 'type' object is not subscriptable

In [83]:
from scipy.stats import chi2_contingency

table = pd.pivot_table(df, index=['Millennial'], values = ["count"], columns = "Exited", aggfunc = np.sum).values

chi, pvalue, cdf, arr = chi2_contingency(table)

In [86]:
arr

array([[6395.8816, 1636.1184],
       [1567.1184,  400.8816]])

In [53]:
df_pivot[:3, 2]

TypeError: '(slice(None, 3, None), 2)' is an invalid key

In [20]:
pd.crosstab(df, "Exited", "Millennials", aggfunc= np.sum)

ValueError: Shape of passed values is (15, 2), indices imply (10000, 2)