In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline

df = pd.read_excel("data/froggy1.xlsx")

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_minmax = scaler.fit_transform(df[["distance","duration","distance_3","jump_n"]])

df_minmax = pd.DataFrame(df_minmax)

In [14]:
df_minmax.head()

          0         1    2         3
0  0.755073  0.636358  0.0  0.000000
1  0.807535  0.781819  0.0  0.111111
2  0.000000  0.000000  0.0  0.222222
3  0.123569  0.472722  0.0  0.000000
4  0.000000  0.000000  0.0  0.111111

In [12]:
df.describe()

,distance,duration,distance_3,jump_n,distance_3_off,distance_rel,day,angle_01,angle_10,angle_00,velocity_01,velocity_10,velocity_00,Pro
count,3272.000000,3272.000000,3272.000000,3272.000000,3272.000000,3272.000000,3272.000000,2555.000000,2555.000000,2555.000000,2555.000000,2555.000000,2555.000000,3272.000000
mean,123.705381,0.535028,85.380736,2.579462,221.775147,1.097988,1.905715,31.124738,27.081491,35.385552,3.384070,3.512362,3.307999,0.767726
std,52.131073,0.170303,173.932713,1.375345,225.954031,0.621126,0.829682,9.329502,8.927029,9.564282,0.434373,0.440840,0.451130,0.422347
min,0.000000,0.000000,0.000000,1.000000,-1.000000,0.000000,1.000000,4.553885,3.156424,6.223807,2.029294,1.994110,2.002735,0.000000
25%,89.225250,0.458330,0.000000,1.000000,-1.000000,0.936080,1.000000,25.142264,21.244315,29.378592,3.103608,3.237484,3.017022,1.000000
50%,137.955000,0.566670,0.000000,2.000000,167.640000,1.000000,2.000000,30.982596,26.561698,35.860526,3.467254,3.576896,3.399792,1.000000
75%,165.100000,0.650000,0.000000,3.000000,462.597500,1.126125,2.000000,37.429374,33.091971,41.867850,3.705449,3.813381,3.651440,1.000000
max,219.780000,0.916670,705.390000,10.000000,640.080000,6.856900,3.500000,65.699393,62.675956,68.265799,4.624189,5.542051,4.254118,1.000000

In [7]:
data

array([[0.75507326, 0.63635769, 0.        , 0.        ],
       [0.80753481, 0.78181898, 0.        , 0.11111111],
       [0.        , 0.        , 0.        , 0.22222222],
       ...,
       [0.44359814, 0.47272192, 0.        , 0.11111111],
       [0.93980344, 0.72727372, 0.6498958 , 0.22222222],
       [0.87087087, 0.7454482 , 0.        , 0.33333333]])

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_standard = scaler.fit_transform(df[["distance","duration","distance_3","jump_n"]])

df_standard = pd.DataFrame(df_standard)