# Practice Exam 1 ECON 4263 Fall 2021 with Python




Key Number: 115


Create one do file named pexaml_115.do that does all the work you do in Stata to answer the questions on this homework.

Have this do file create a log file named pexaml 115.log This log file should be a log of everything you do in Stata.

Write you answers the questions in the space provided. Then scan the completed homework sheet to a PDF file.

Submlt your do file, your log file, and the scan of your answers by Blackboard. All the files on the OneDrive are in the subfolder pexaml of our One Drive folder.

1. Begin by copying the file guu115.dta from the OneDrive to the folder on your computer in which you do your work for this class.

(a) Use generate and replace to create the new variable spend cat using the following cut offs.

spendcat is 0 if grocerywk is equal to 0
spendcat is 1 if grocerywk is greater than 0 and less than or equal to 100 
spendcat is 2 if grocerywk is greater than 100 and less than or equal to 200 
spendcat is 3 if grocerywk is greater than 200
spendcat is missing if grocerywk is missing

- Use tabulate to calculate the sample percentages for each category. For what percentage of the not-missing sample observations is spendcat equal to 0? (Round all answers to 2 digits after the decimal place.)
- For what percentage of the not-missing sample observations is spendcat equal to 1? (Round all answers to 2 digits after the decimal place.)
- For what percentage of the not-missing sample observations is spendcat equal to 2? (Round all answers to 2 digits after the decimal place.)
- For what percentage of the not-missing sample observations is spendcat equal to 3? (Round all answers to 2 digits after the decimal place.)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.io.stata.read_stata('data/gww115.dta')

The `pd.cut()` method will put the values into bins based on the pattern we create with the `bins` variable.

In [3]:
target_column = df["grocerywk"]
bins = [0, 1, 101, 201, 500]
labels = [0,1,2,3]

df["spendcat"] = pd.cut(target_column, bins, labels, include_lowest= True)

In [4]:
df["spendcat"].value_counts(normalize=True)

(1.0, 101.0]      0.586660
(101.0, 201.0]    0.320869
(201.0, 500.0]    0.060131
(-0.001, 1.0]     0.032340
Name: spendcat, dtype: float64

2. Copy the file cesall5. dta from the OneDrive to the folder in which you work on your computer.
(a) Read the data in cesall5.dta into Stata.
(b) Use mean to compute the sample mean, the standard error of the sample mean, and the lower and upper end points of a 95% confidence interval for the mean of grocerywk, using only the observations for households of with 2 members.
Write your answers to the following questions in the space provided. (Round all answers to 3 digits after the decimal place.)
- What is the sample mean of grocerywk for families of with 2 members?
- What is the standard error of the sample mean of grocerywk for families of with 2 members.
- What is the estimated lower end point of a 95% confidence for the mean of grocerywk for families of with 2 members.
- What is the estimated upper end point of a 95% confidence for the mean of grocerywk for families of with 2 members.

In [5]:
df = pd.io.stata.read_stata('data/cesa115.dta')

In [6]:
df.head()

   fam_size  grocerywk                  educ  spendpp
0         1       65.0      High school grad     65.0
1         1      110.0    Associate's degree    110.0
2         1       25.0      Bachelors degree     25.0
3         1       25.0    Associate's degree     25.0
4         1       50.0  Some college, no deg     50.0

In [7]:
df.groupby("fam_size")["grocerywk"].agg(["mean", "std"])

                mean         std
fam_size
1          59.333333   41.035150
2          96.408879   49.774097
3         129.472222   70.053085
4         133.382114   66.069198
5         156.132812   71.199550
6         184.400000   78.990054
7         149.444444   69.934610
8         135.000000   27.928480
9         256.666667  125.326241
13        350.000000    0.000000

In [8]:
import numpy as np
from scipy import stats


df_2 = df[df["fam_size"]==2]
mean, sem = df_2["grocerywk"].mean(), stats.sem(df_2["grocerywk"])
conf_int_lower,  conf_int_upper = mean-sem, mean+sem

In [9]:
print(f'mean: {mean:.3f} \n st error: {sem:.4f} \n 95% confidence: {conf_int_lower:.4f}, {conf_int_upper:.4f}')

mean: 96.409
 st error: 1.7012
 95% confidence: 94.7076, 98.1101

# 3


3. Copy the file cps115.dta from the OneDrive to your computer. Load this dataset into memory
in Stata and use it to answer the following questions.
Use describe to describe the variables. `educ` is a factor variable for education obtained.

- Use tabulate to produce a table of how many sample observations are in each education category.
- Use tabulate with the nolabel option reveal the values used to code the education categories.
- Use label lise to list out the mapping between the education categories and the values used to code them.
- What are the education categories and what are the values used to code them?
- A colleague recommends that you use mean to estimate the mean of education. Is this a good idea? Why or why not?

In [10]:
df = pd.io.stata.read_stata('data/cps115.dta')

In [11]:
df["educ"].value_counts()

HS              443
Some college    400
College         359
Advanced        195
LTHS            103
Name: educ, dtype: int64

In [12]:
df["educ_factor"] = df["educ"].cat.codes

In [13]:
labels = dict(enumerate(df["educ"].cat.categories))
print (labels)

{0: 'LTHS', 1: 'HS', 2: 'Some college', 3: 'College', 4: 'Advanced'}

In [14]:
df["educ_factor"].value_counts()

1    443
2    400
3    359
4    195
0    103
Name: educ_factor, dtype: int64

# 4

4. Load the dataset cps115.dta and use it to answer the following questions. (Round all answers to 2 digits after the decimal place.)
Recall that the variable educ is a factor variable that indicates the education category obtained by each person.

- Use proportion to estimate the population proportions for each education category.
- Use proportion with the option coeflegend to see the parameter names for each estimated proportion.
- Use test to test the null hypothesis that the population proportions for HS and for Some college are the same. Do you reject or not reject this null at the 5% level of significance?

In [15]:
df = pd.io.stata.read_stata('data/cps115.dta')

In [16]:
df.head()

     lfstat     educ      weekpay
0  Employed     LTHS   400.000000
1  Employed  College  2076.919922
2  Employed       HS   650.000000
3  Employed       HS   850.000000
4  Employed  College  2884.610107

In [17]:
from statsmodels.stats.proportion import proportions_ztest
import numpy as np

# can we assume anything from our sample
significance = 0.025

hs = len(df[df["educ"]=="HS"])
some_college = len(df[df["educ"]=="Some college"])
sample_size = len(df)

sample_success_a, sample_size_a = (hs, sample_size)
sample_success_b, sample_size_b = (some_college, sample_size)

successes = np.array([sample_success_a, sample_success_b])
samples = np.array([sample_size, sample_size_b])

stat, p_value = proportions_ztest(count=successes, nobs=samples,  alternative='two-sided')

print(f'z_stat: {stat:0.3f}, p_value: {p_value:0.3f}')

if p_value > significance:
   print ("Fail to reject the null hypothesis")
else:
   print ("Reject the null hypothesis - there is evidence the two proportions are not the same")

z_stat: 1.747, p_value: 0.081
Fail to reject the null hypothesis

# 5 Continue using the file cps115.dta.

- Use mean with the over() option to estimate the population means for weekly pay for each education category.
- to 2 digits, what are the estimated means of weekly pay for each education category.
- Use mean with the over() option and the coef legend option to display the parameter names.
- Use test to test the null hypothesis that the mean pay per week is the same for those with some college as for those with a College degree. To 4 digits, what is the p-value of this test? 
- At the 5% level of significance, do you reject or not reject the null hypothesis?

In [18]:
df = pd.io.stata.read_stata('data/cps115.dta')

In [19]:
df.groupby("educ")["weekpay"].agg(["mean", "std"])

                     mean         std
educ
LTHS           691.290833  566.735004
HS             816.891235  556.749856
Some college   895.669739  555.304836
College       1273.396240  744.134737
Advanced      1642.574463  812.667348

In [20]:
group_1 = df[df["educ"]=="Some college"]["weekpay"].dropna()
group_2 = df[df["educ"]=="College"]["weekpay"].dropna()

stats.ttest_ind(group_1, group_2)

Ttest_indResult(statistic=-6.32137941941678, pvalue=5.86521035343492e-10)

# 6. Copy the file cpsa115.dna from the OneDrive to your computer. 

Load this dataset into memory in Stata and use it to answer the following questions. The variable lf stat is a categorical variable that gives the labor force status of each individual.
The sample proportion of category a in categorical variable var is given by
pq = _,(car; == a) where n is the number of observations.
The standard error of the sample proportion of category a in categorical variable var is 
given
by SE —— " "

- Use sumarize and local macros to compute the the sample proportion and the standard error of the sample proportion for each category in lf stat.
- What is the sample proportion of Employed?
- What is the standard error of the sample proportion of Employed?
- What is the sample proportion of Unemployed?
- What is the standard error of the sample proportion of Unemployed?
- What is the sample proportion of NILF?
- What is the standard error of the sample proportion of OILF ?

In [21]:
df = pd.io.stata.read_stata('data/cpsa115.dta')

In [22]:
df.head()

     lfstat          educ      weekpay
0      NILF            HS          NaN
1  Employed  Some college          NaN
2  Employed       College  1538.459961
3  Employed      Advanced  1269.229980
4  Employed      Advanced  2884.610107

In [23]:
a = df["lfstat"].value_counts(normalize=True)

In [24]:
a

Employed      0.713494
NILF          0.255083
Unemployed    0.031423
Name: lfstat, dtype: float64

In [25]:
from math import sqrt 

def sem_prop(x, n):
    p = x/n
    return sqrt(p*(1-p) / n)

In [26]:
a = df["lfstat"].value_counts()

In [27]:
proportions = [a[i]/a.sum() for i in range(0,3)]

In [28]:
proportion_value = [sem_prop(a[i], a.sum()) for i in range(0,3)]

In [29]:
data_tuples = list(zip(a.index, a.values,proportions,proportion_value))
data_tuples_df = pd.DataFrame(data_tuples, columns=["lfstat", "count", "proportion", "sem"])
data_tuples_df

       lfstat  count  proportion       sem
0    Employed    386    0.713494  0.019439
1        NILF    138    0.255083  0.018741
2  Unemployed     17    0.031423  0.007501

In [30]:
df[df["educ"]=="Some college"]["lfstat"].value_counts(normalize=True)

Employed      0.771242
NILF          0.215686
Unemployed    0.013072
Name: lfstat, dtype: float64

In [31]:
from statsmodels.stats.proportion import proportions_ztest
import numpy as np

# can we assume anything from our sample
significance = 0.025


some_college = len(df[(df["educ"]=="Some college") & (df["lfstat"]=="Employed") ])
college = len(df[(df["educ"]=="College") & (df["lfstat"]=="Employed") ])
sample_size = len(df)

sample_success_a, sample_size_a = (some_college, sample_size)
sample_success_b, sample_size_b = (college, sample_size)

successes = np.array([sample_success_a, sample_success_b])
samples = np.array([sample_size, sample_size_b])

stat, p_value = proportions_ztest(count=successes, nobs=samples,  alternative='two-sided')

print(f'z_stat: {stat:0.3f}, p_value: {p_value:0.3f}')

if p_value > significance:
   print ("Fail to reject the null hypothesis")
else:
   print ("Reject the null hypothesis - there is evidence the two proportions are not the same")

z_stat: 1.758, p_value: 0.079
Fail to reject the null hypothesis

In [32]:
len(df[(df["educ"]=="College") & (df["lfstat"]=="Employed") ])

95

In [33]:
df[df["lfstat"]=="Employed"]["educ"].value_counts(normalize=True)

Some college    0.305699
HS              0.256477
College         0.246114
Advanced        0.145078
LTHS            0.046632
Name: educ, dtype: float64

In [34]:
#This table helps us to calculate the SE.
prop = df.groupby(["educ","lfstat"]).agg("count")
prop.head()

                 weekpay
educ lfstat
LTHS Employed         15
     Unemployed        0
     NILF              0
HS   Employed         85
     Unemployed        0