In [1]:
import pandas as pd

df = pd.read_csv("data/2020 telco churn data.csv")

In [2]:
convert_to_binary = ["international_plan", "voice_mail_plan", "churn"]
for i in convert_to_binary:
    df[i] = df[i].map({"no":0, "yes": 1})

In [3]:
cols_to_mean = ['account_length','number_vmail_messages', 
       'total_day_calls', 'total_eve_calls','number_customer_service_calls']

for col in cols_to_mean:
    mean = df[col].mean()
    df[col] = [1 if i > mean else 0 for i in df[col]]

In [4]:
cols_to_drop = ["state", "area_code", "total_day_minutes", "total_night_charge", "total_intl_minutes", "total_intl_charge", 'total_day_charge', 'total_eve_minutes', "total_intl_calls", "total_eve_charge", "total_eve_charge", "total_night_minutes", "total_night_calls"]
df.drop(cols_to_drop, axis = 1, inplace=True)

In [5]:
df.head()

,account_length,international_plan,voice_mail_plan,number_vmail_messages,total_day_calls,total_eve_calls,number_customer_service_calls,churn
0,1,0,1,1,1,1,0,0
1,1,0,0,0,1,1,0,0
2,0,1,0,0,0,0,1,0
3,0,1,0,0,1,1,1,0
4,1,0,1,1,0,1,1,0

In [6]:
# Importing the required Python libraries
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import joblib

df=df.dropna()
X = df.drop("churn", axis = 1)  
Y = df['churn'] 

# Create and train RF classifier (max depth intentionally long for demo purposes)
clf = RandomForestClassifier(max_depth=10)
clf.fit(X, Y)

# Save model
joblib.dump(clf, 'model.pkl')

['model.pkl']

In [7]:
input_df = pd.DataFrame([0,1,0,0,1,1,1]).T

In [8]:
model = joblib.load('model.pkl')
arr_results = model.predict(input_df)

In [9]:
arr_results

array([1])